# Web framework
fastapi
uvicorn

# Database
sqlalchemy
psycopg2-binary
alembic

# Auth
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic[email]
pydantic-settings
python-dotenv

# LangChain / AI
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-groq
langgraph
google-genai                 

# Async tasks
celery[redis]
redis

# Audio
gtts
pydub
imagekitio


requests
httpx
orjson
gunicorn
replicate

